---
layout: default
permalink: /
---



{% include _components/header.html %}
test
<div class="features-container">
  {% include _components/features-container/paragraph.html headline="what is " bold="CRYPT?" body-copy="Cryptos is a small cap defi token unlike others you’ve seen before. 10,000 CRYPT tokens have been added to uniswap. These tokens can be staked to get the first pool of CRYPT and the first pool of NETH. Two additional pools will be available after the first pool is over. Total supply is 41,000 CRYPT
."%}

  {% include _components/features-container/paragraph.html headline="what is " bold="NETH?" body-copy="Nethos token is the future foundational chain of CRYPT. Nethos is a governed community blockchain based on Ethereum 2.0 with proof of stake. Staking will be CRYPT and NETH for transaction fees from tokens and transfers that occur on the Nethos network. Nethos will have full interoperability with Ethereum and allow any token from Ethereum to be traded on Nethos."%}

  {% include _components/features-container/paragraph.html headline="What am I " bold="farming?" body-copy="What the heck am I farming? You are farming rewards of both CRYPT staking token and the future Nethos chain. You are building a different kind of liquidity pool where you can earn rewards long term towards the Nethos Blockchain launch."%}
</div>
{% include _components/roadmap.html %}

<!-- {% include _components/image-section.html %} -->
{% include _components/big-type-section.html %}
{% include _components/new-payment-system.html %}
{% include _components/nodes.html %}
