@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.bold{
  font-weight: 800;
}


h1{
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 2.21px;
  text-transform: uppercase;
  padding-top: 50px;
  color: #1E1E1E;
}

.green{
  color: #09BC8A;
}

h3{


  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
