<section class="about-us-container">
  <h1><span class="green">about</span> us</h1>
  <div class="vision-container">
    <div class="headline">
      Vision
    </div>
    <div class="vision-element-wrapper">
      <div class="vision-element">
        <div class="image-container">
          {% asset vision-icon-1.svg %}
        </div>
        <div class="copy-container">
          Our objective is to <span class="green">reduce cost</span> and <span class="green">increase access</span> to the treatment of hearing loss for all beneficiaries through a value-based service offering to healthcare funders.
        </div>
      </div>

      <div class="vision-element">
        <div class="image-container">
          {% asset vision-icon-2.svg %}
        </div>
        <div class="copy-container">
Our interventions will lead to significant <span class="green">downstream cost savings</span> to medical schemes whilst improving the <span class="green">quality of life</span> for beneficiaries.</div>
      </div>

      <div class="vision-element">
        <div class="image-container">
          {% asset vision-icon-3.svg %}
        </div>
        <div class="copy-container">
          We aim to ensure beneficiaries receive <span class="green">comprehensive treatment </span> for hearing loss based on clinical need and not affordability constraints.
        </div>
      </div>

    </div>
  </div>
</section>
