<div class="big-type-section">
  <div class="section">
    The Nethos Blockchain has two sides to the coin Audit Nodes and Nethos Nodes. Described below.

  Nethos node 0 will be an archive node of the Ethereum blockchain.

  Nethos node 1 will be the forked ethereum token called Nethos Classic, this token will be treated like Eth Litecoin and will be a store of value only, contracts can be purchased in Nethos Classic but they will run on their own Nethos nodes as described in this document.

  Nethos will be node 2 on the Nethos Network and will be a defi token, this token will split staking rewards amongst Nethos and Cryptos holders for the future.


  </div>
  <div class="section white">

  </div>
</div>
