<section class="copy-section">
<div class="headline">
  hearConnect is a Managed Healthcare Organisation providing care management services in the field of Audiology.
</div>
<div class="copy-wrapper">
<div class="top-section">
  hearConnect is a Managed Healthcare Organisation providing care management services in the field of Audiology. hearConnect aims to improve the quality of life of medical scheme members, by expanding access to the treatment of hearing loss through the introduction of clinical protocols that meet the highest international standards and creating an audiology network throughout the nine provinces of South Africa. We have established an acceptable minimum specification for hearing aid quality and conduct strategic purchasing of the devices on behalf of client medical schemes to improve product quality at a reduced cost.
</div>
<div class="bottom-section">
  <div class="copy">
    We focus on a technology-driven approach for patients, funders and providers. We believe this will greatly reduce the cost of audiology services, improve member experience and health outcomes through the use of medically approved hearing aids and other interventions. Utilising direct member management, data analytics and leading digital hearing technology, we can move the needle for both members and funders as it relates to health outcomes. By providing hearing aids to members, it is proven that associated comorbidities with hearing loss can decrease significantly.
  </div>
  <div class="image-container">
    {% asset lexi-image.png %}
  </div>
</div>
</div>
</section>
