<section class="footer">
  <div class="section-wrapper">
    <div class="icon">
      {% asset icon.png %}
    </div>
    <div class="section">
      <div class="heading">
        telephone
      </div>
      <div class="details">
        012 424 0404
      </div>
    </div>

    <div class="section">
      <div class="heading">
        email
      </div>
      <div class="details">
        <a href="<a href="mailto:info@hearconnect.co.za?subject=contact">info@hearconnect.co.za</a>
      </div>
    </div>

    <div class="section">
      <div class="heading">
        website
      </div>
      <div class="details">
        <a href="https://www.hearconnect.co.za">hearconnect.co.za</a>
      </div>
    </div>


  </div>
</section>
