<div class="header">
  <div class="nav-bar">
    <div class="logo-container">
      {% asset hearConnect_logo.png %}
    </div>
  </div>
  <div class="section-wrapper">
  <div class="section">
    <div class="copy-container">
      <div class="headline">
        Making sound decisions.
      </div>
      <div class="button-container">
        {% asset main_cta_btn.svg %}
      </div>
    </div>
  </div>
  <div class="section">
    <div class="image-container">
        {% asset header-main.png %}
    </div>
  </div>
    </div>
</div>
