<div class="header">
  <div class="beta-container">
    We’ve just launched our alpha V0.1
  </div>

<div class="navigation-container">
  <div class="nav-logo-container">
    {% asset crypt-logo-full-header.svg height="30px"%}
  </div>
  <div class="links-container">
    {% for item in site.data.navigation.links %}
      <div class="link">
        <a href="#">{{ item.name }}</a>
      </div>
    {% endfor %}
    <div class="cta-button">
      <span>get crypt</span>
    </div>
  </div>


</div>
<div class="wrapper" style="margin-top:30px;">

  <div class="logo">
    {% asset crypt-logo-full-header.svg %}
  </div>
  <div class="headline">
    Let's talk [chain]
  </div>
  <div class="subhead">
    Big stakes long term rewards and a whole new way to ETH
  </div>

  <div class="notification-container">
Something new is coming and going to change the way we do things around here. Watch this space, because we'll be launching a couple of exciting things in exactly
<p id="timer"></p>
  </div>
</div>



<!-- <div id="stars-js" class="stars-container"></div> -->
</div>
<div class="sign-up-counter">

</div>
