<div class="section-container">

  <div class="content-wrapper">

  <div class="image-container">
    {% asset vector-coin1.svg %}
  </div>

  <div class="copy-container">
    <div class="headline">
      A <span class="glitch2" data-text="&nbsp; awesome kind ">&nbsp; &nbsp; different kind </span> of payment system.
    </div>
    <div class="intro">
      Nethos transactions do not cost NETH or CRYPT, they can be paid for based on the gas for the individual node operators or in NETH Classic.
      <br><br>

    </div>
    We will describe how payment works in the following scenario.
    <br><br>
    Let’s pretend there is a massive e-commerce platform called RainForest, this company ships a lot of products to people around the world and want to create a token to represent their new Prime program called RainForest Prime. They create this token on Nethos using Nethos Classic gas and then give it out to their customers. They decide to do something unique and make a token with no decimal and each customer that buys a year gets 365 tokens. Every day as they order products it slowly costs them RFP tokens. These tokens have a value on the open market. Most RainForest customers don’t understand the nuances of gas and just understand that in order to send a friend some or each time they trade RFP for their orders it costs them a little bit of RFP to do so.
    <div class="terms">
      This kind of fee strategy allows for a new wave of Crypto users to use the products and platforms of tomorrow. No need to understand gas costs or buying multiple tokens to just send some, they all simply understand that each transaction costs a small portion of their total token.
      Tokens with no trading value that are just starting will have mainnet transactions paid for in NETHC (AKA Neth Classic).

    </div>
  </div>
  </div>
</div>
