<div class="nodes-container">
<div class="hr"></div>
  <div class="big-type-section">
    <div class="section white">
      <span class="glitch" data-text="nodes">nodes</span>
    </div>
    <div class="section section-light">
      <span style="font-weight:900;">  Nethos nodes are the NVM/EVM runners, they validate contracts through either POS or POA depending on how the operators of each token set their node contracts up. Both POS and POA types of token send verified transaction blocks for their tokens up to the Nethos nodes for full chain verification.</span>
  <br>
Ethereum has long term sustainability issues. The current blockchain size is rapidly growing well over 5 TB in size, in order to query the chain you have to use third party providers of the truth like Etherscan, Ethplorer or run your own node and a database for indexing transactions. Setting up your own database and indexing would take days or weeks, possibly even months to set up. Even full non-archive nodes are in the hundreds of gigabytes to query a wallet’s balance. Ethereum attempted to solve some of this with ERC1155. This still does not solve the gas fees we've been seeing in the ETH network. ETH 2.0 plans to alleviate some of the gas issues and there have been votes to decrease mining costs, but miners do not want decreased revenues and it will drastically reduce the income of mining and ETH 2.0 staking.
  <br><br>
With ledger nodes builtin to Nethos this is no longer the case, anyone can query the Nethos blockchain and find any address or contract value directly. Individual tokens brought over to or started on the Nethos blockchain will only have to pay fees in their own tokens or in Neth Classic with much fewer transactions and cheaper gas costs.

    </div>

  </div>

  <div class="hr"></div>

  <div class="big-type-section">

    <div class="section white">
      <span class="glitch" data-text="gas costs"> gas costs &nbsp </span>
    </div>

    <div class="section section-light">
      <span style="font-weight:900;">Nethos’ goal is to have the average wallet to wallet transaction cost approximately 5 cents. </span>
      <br>
      Gas costs will be calculated similar to how Ethereum does based on function difficulty and network usage however there will be a fixed max base transaction cost for all token transfers. The formula is rather simple. TotalSupply/WeeklyAverageMarketCap/20 per wallet-to-wallet transactions.
      <br><br>
      We want to make it simple to understand how much it would cost to send a token from one person to another. You want to send 1 USD in ETH, DAI, LINK, etc? It will cost you about $0.05 of that specific token.
    </div>
  </div>
</div>
