<section class="research-section">
  <h1><span class="green">research</span> shows us</h1>
  <div class="research-wrapper">
    <div class="research-container">
      <div class="image-container">
        {% asset research-image-1.png %}
      </div>
      <div class="copy-container">
        <div class="headline top-headline">
          Disabling hearing loss affects more than 3 million South Africans.
        </div>
        <div class="sub-headline">
          Hearing loss is associated with a number of risks:
        </div>
        <div class="description">
          •  &nbsp;  Social isolation <br> • &nbsp;  Depression <br> • &nbsp;  Unemployment <br> • &nbsp;  3-fold increased risk of dementia
        </div>
      </div>
    </div>


    <div class="research-container last" >
      <div class="image-container">
        {% asset research-image-2.png %}
      </div>
      <div class="copy-container">
        <div class="sub-headline">
          Untreated hearing loss increases healthcare utilisation*:
        </div>
        <div class="description">
          •  &nbsp; 17% increased risk of emergency department visit  <br> • &nbsp; 44% increased risk of 30 day readmission   <br> • &nbsp; 2.5 days longer hospital stays <br> •  &nbsp; 47% increased rate of hospitalisation
        </div>
        <div class="sub-headline">
          Healthcare cost increases for untreated hearing loss*:
        </div>
        <div class="link">
          *Reed et al. 2019
        </div>
      </div>

    </div>

    <div class="more-button">
Show more  {% asset arrow-down-sign-to-navigate.svg width=20px %}
    </div>
  </div>
</section>
