<div class="token-section">
  <div class="content-wrapper">

    <div class="token-info-container">
      <div class="section">
        <canvas id="myChart" height="400"></canvas>

      </div>
      <div class="section">
        <div class="headline">
          token <br> <span class="bold"> distribution </span>
        </div>



        <br>
        <hr>
        <div class="line-item">
          <span class="bold">Symbol</span> : PYX
        </div>
        <div class="line-item">
          <span class="bold">  Platform</span> : ERC20
        </div>
        <br>
        <hr>
        <div class="line-item">
          <span class="bold">5 Billion</span> : Sale and Bonuses
        </div>
        <div class="line-item">
          <span class="bold">1 Billion</span> : Team
        </div>
        <div class="line-item">
          <span class="bold">500 Million</span> : Legal
        </div>
        <div class="line-item">
          <span class="bold">500 Billion</span> : Bounties,giveaways & competitions
        </div>
        <div class="line-item">
          <span class="bold">4 Billion</span> : Reserve
        </div>

        <br>
        <hr>
          <br>

        <div class="line-item" style="font-size:20px; margin-top:5px;">
          <span class="bold">Total Tokens</span> : 10,000,000,000
        </div>
        <div class="line-item" style="font-size:20px; margin-top:5px;">
          <span class="bold">Target Cap</span> : $20,000,000
        </div>





      </div>

    </div>
    <div class="token-timeline-container">
      <div class="tokens-collected">
        $14 876 465
      </div>
      <div class="timeline">
        <div class="section" style="flex:10"> </div>
        <div class="middle"> </div>
        <div class="section" style="background-color:#1E8BC3;flex:10;"> </div>
      </div>
      <div class="descriptions">
        <div class="description">
          Soft Cap $ 10M
        </div>
        <div class="description">
          Hard Cap $ 20M
        </div>
      </div>
    </div>
    <div class="button">
      GET TOKENS
    </div>
  </div>
</div>
