<section class="why-section">
  <h1>Why is <span class="green">managed care needed?</span></h1>
  <div class="features-wrapper">


    <div class="feature-container">
      <div class="image-container">
        {% asset cost.svg %}
      </div>
      <div class="headline-container">
        cost
      </div>
      <div class="description-container">
        Managed services for cost savings
      </div>
    </div>

    <div class="feature-container">
      <div class="image-container">
        {% asset quality.svg %}
      </div>
      <div class="headline-container">
        Quality
      </div>
      <div class="description-container">
      Best practice guidelines for consistency and transparency
      </div>
    </div>

    <div class="feature-container">
      <div class="image-container">
        {% asset access.svg %}
      </div>
      <div class="headline-container">
        Access
      </div>
      <div class="description-container">
      Broader access within medical schemes
      </div>
    </div>


  </div>
</section>

<section class="why-section">
  <h1>BENEFITS<span class="green"> OF MANAGED CARE FOR:</span></h1>
  <div class="features-wrapper">


    <div class="feature-container">
      <div class="image-container">
        {% asset audiologists.svg %}
      </div>
      <div class="headline-container">
        Audiologists
      </div>
    </div>

    <div class="feature-container">
      <div class="image-container">
        {% asset patients.svg %}
      </div>
      <div class="headline-container">
        Patients
      </div>
    </div>

    <div class="feature-container">
      <div class="image-container">
        {% asset medical_insurers.svg %}
      </div>
      <div class="headline-container">
        Medical insurers
      </div>
    </div>


  </div>
</section>
