.container{
  cursor: pointer;
  display: flex;
  height:600px;
  font-weight: 900;
  font-size: 30px;

  .highlight{
    background-color: $dark-blue;
    color: #fff;
  }
  .section{
    flex:1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #fff;
  }
  .grey{
    background-color: #dddce1;
    border-color: #c4c3c7 ;
  }
}
