.footer{
  background-color: #1e1e1e ;
  height: 200px;
  padding: 50px;
  align-items: center;
  background-image: url(asset_path("background_circle.svg"));
  background-repeat: no-repeat;
  background-position: right;


  @include phone{
    height: auto;
    background-position: bottom;
  };

  .section-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 100%;
    position: relative;

    @include phone{
      flex-direction: column;
            padding-bottom: 100px;
    };

    .icon{
      position: absolute;
      left:0;
      @include phone{
        bottom:0;
        left: 50%;
        right: 50%;
      };
    }
    .section{
      flex:1;
      max-width: 130px;
      @include phone{
        margin-bottom: 50px;
      };
      .heading{
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 700;
        color: #fff;
      }
      .details{
        color: #fff;
        font-size: 22px;
        margin-top: 20px;
        font-weight: 100;
        a{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
