.footer-container{
  background-color: $dark-blue;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:40px;
  .footer-logo-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width:600px;
    .line{
      width: 1px;
      background-color: #fff;
      height:80px;
      margin-right: 40px;
      margin-left: 40px;
    }
    .tagline{
      color:#fff;
      display: flex;
      justify-content: center;
      flex-direction: column;

    }
  }
}
