.header{

  .beta-container{
    position: absolute;
    height:20px;
    background-color: #006a8a ;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 11px;
    color: #fff;
    align-items: center;
  }

  .navigation-container{
    position:absolute;
    top:40px;
    display: flex;
    justify-content: space-between;
    width: 800px;
    .nav-logo-container{

    }
    .links-container{
      display: flex;
      flex-direction: row;
      align-items: center;

      .link{
        display: flex;
        align-items: center;
        margin-left: 20px;
        a{
          color:#fff;
          text-decoration: none;
        }
      }


    }
    .cta-button{
      background-color: #fff;
      transition: border-color,color, background-color 0.2s;
      margin-left: 20px;
      color:$dark-blue;
      border-radius: 50px;
      border-color: #fff;
      padding:10px 20px;
      border-style: solid;
      border-width: 1px;
      position: relative;
      text-transform: uppercase;
      cursor: pointer;
      &:hover{
        background-color: $glitch-pink ;
        color: #fff;
        transition: border-color,color, background-color 0.2s;
        border-color: $glitch-pink;
      }
    }

  }
  background: asset-url("background-gif2.gif");
  position: relative;
  min-height:700px;
  background-color: $dark-blue;
  // background-image: linear-gradient(#FF0099, #493240);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  background-size: cover;


  @include desktop{

    padding: 50px;
    flex-wrap: nowrap;


  };

  @include tablet{
    flex-wrap: wrap;
    padding: 50px;
  };

  @include phone{
    background-position: center 200px;
    background-size: 600px;
    min-width: 375px;
    padding: 0px;

  };

  .intro{
    font-family: 'Noto Sans';
    line-height: 1.1;
    font-size: 80px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .notification-container{
    font-size: 15px;
    border-radius: 10px;
    background-color: #cd527d;
    padding: 15px 25px;
    color: #fff;
    max-width: 700px;
    margin-bottom: 30px;
    #timer{
      font-size: 30px;
      font-weight: 900;
    }
  }

  .headline{
    font-size: 100px;
    font-family: 'Noto Sans';
    color: #fff;
    text-transform: capitalize;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -5px ;

    @include phone{

      font-size: 100px;
      letter-spacing: 0;
    };

  }
  .subhead{
    color: #fff;
    padding-left: 10px;
    padding-right:10px;
    font-weight: 300;
    margin-top: 20px;
    font-size: 25px;
    text-align: left;
    max-width: 700px;
  }
  .signup-button{
    font-family: 'Roboto' ;
    text-align: center;
    background-color: #fff;
    width: 200px;
    height: 50px;
    font-size: 15px;
    display: flex;
    align-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
    &:hover{
      background-image: linear-gradient(90deg,#FC466B, #3F5EFB);
    }
  }
  .stars-container{
    position: absolute;
    width: 100%;
    height: 100% ;
    z-index: 0;
  }
}
