.header{
  height:725px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  @include phone{
height: 800px;
  };


  .nav-bar{
    display: flex;
    .logo-container{
      max-width: 300px;
      padding: 50px;
      padding-bottom: 0px;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
.section-wrapper{
  display: flex;
  height: 100%;

  @include phone{
    flex-direction: column;
  };

  .section{
    display: flex;

    flex: 1;
    justify-content: center;
    overflow: hidden;
    .image-container{
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      overflow: hidden;
      width: 100%;
      align-items: flex-end;

      img{
        width: 100%;
        height: auto;
        max-width: 800px;

      }
    }

    .copy-container{
      margin-left: 40px;
      margin-right: 40px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      align-content: center;
      flex-direction: column;
      .headline{
        font-weight: 800;
        font-size: 80px;
        letter-spacing: 8px;

        @include phone{
          font-size: 40px;
          line-height: 40px;
          margin-top: 40px;
        };
      }
      .button-container{
        max-width: 300px;
        margin-top: 20px;
        img{
          width: 100%;
        }
      }

    }
    }
  }
}
