.image-section{
  background-image: asset_url('filmMaking.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $dark-blue;
  height:600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .headline{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
    width: 300px;
    padding: 50px;
    text-align: center;


    @include tablet{

    };



    @include phone{
      padding:50px;
      width: 100%;
      text-align: center;
      background-position: center;
      background-size: auto;
    };

  }
}
