.roadmap-container{
  background-color: #34495E;
  display: flex;flex-direction: column;
  min-height: 200px;
  margin-top: 100px;
  z-index:100;
  padding: 50px;
  color: #fff;
  background-image: asset_url('roadmap-background.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  .type-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-top: 100px;
    z-index: 1;
    color: #fff;

    .headline{

      font-size: 18px;
      text-transform: uppercase;
      font-weight: 400;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;

      .circles{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
      }

    }
    .body-copy{
      margin-top: 15px;
      .bold{
        font-size: 37px;
      }
      .thin{
        margin-top: 50px;
        font-size: 18;
        font-weight: 300;
        line-height:30px;
      }
    }
  }

}


  $primary-color: #1E8BC3;
  $primary-color-hover: scale-color($primary-color, $lightness: 32%);

  .example-header {
      background: #3D4351;
      color: #FFF;
      font-weight: 300;
      padding: 3em 1em;
      text-align: center;
      h1 {
          color: #FFF;
          font-weight: 300;
          margin-bottom: 20px
      }
      p {
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-weight: 700;
      }
  }
  .container-fluid {
      .row {
          padding: 0 0 4em 0;
          &:nth-child(even) {
              background: #F1F4F5;
          }
      }
  }

  .example-title {
      text-align: center;
      margin-bottom: 60px;
      padding: 3em 0;
      border-bottom: 1px solid #E4EAEC;
      p {
          margin: 0 auto;
          font-size: 16px;
          max-width: 400px;
      }
  }

  /*==================================
      roadmap
  ==================================*/

      /*-- GENERAL STYLES
      ------------------------------*/
      .roadmap {
          line-height: 1.4em;
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          h1, h2, h3, h4, h5, h6 {
              line-height: inherit;
          }

          h3{
            font-weight: 700;
            font-size: 17px;
          }
      }

      /*----- roadmap ITEM -----*/

      .roadmap-item {
          padding-left: 40px;
          position: relative;
          &:last-child {
              padding-bottom: 0;
          }
      }

      /*----- roadmap INFO -----*/

      .roadmap-info {
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 3px;
          margin: 0 0 .5em 0;
          text-transform: uppercase;
          white-space: nowrap;
          opacity: 0.5;

      }
      /*----- roadmap MARKER -----*/

      .roadmap-marker {
          position: absolute;
          top: 0; bottom: 0; left: 0;
          width: 15px;
          &:before {
              background: $primary-color;
              border: 1px solid transparent;
              border-radius: 100%;
              content: "";
              display: block;
              height: 14px;
              position: absolute;
              top: 4px; left: 0;
              width: 14px;
              transition: background 0.3s ease-in-out,
                      border 0.3s ease-in-out;
          }
          &:after {
              content: "";
              width: 3px;
              background: #CCD5DB;
              display: block;
              position: absolute;
              top: 24px; bottom: 0; left: 6px;
          }
          .roadmap-item:last-child &:after {
              content: none;
          }
      }
      .roadmap-item:not(.period):hover .roadmap-marker:before {
          background: transparent;
          border: 1px solid $primary-color;
      }

      /*----- roadmap CONTENT -----*/

      .roadmap-content {
          padding-bottom: 40px;
          p:last-child {
              margin-bottom: 0;
          }
      }

      /*----- roadmap PERIOD -----*/

      .period {
          padding: 0;
          .roadmap-info {
              display: none;
          }
          .roadmap-marker {
              &:before {
                  background: transparent;
                  content: "";
                  width: 15px;
                  height: auto;
                  border: none;
                  border-radius: 0;
                  top: 0;
                  bottom: 30px;
                  position: absolute;
                  border-top: 3px solid #CCD5DB;
                  border-bottom: 3px solid #CCD5DB;
              }
              &:after {
                  content: "";
                  height: 32px;
                  top: auto;
              }
          }
          .roadmap-content {
              padding: 40px 0 70px;
          }
          .roadmap-title {
              margin: 0;
              color: $primary-color
          }
      }

      /*----------------------------------------------
          MOD: roadmap SPLIT
      ----------------------------------------------*/

          .roadmap-split {
              @media (min-width: 768px) {
                  .roadmap {
                      display: table;
                  }
                  .roadmap-item {
                      display: table-row;
                      padding: 0;
                  }
                  .roadmap-info,
                  .roadmap-marker,
                  .roadmap-content,
                  .period .roadmap-info {
                      display: table-cell;
                      vertical-align: top;
                  }
                  .roadmap-marker {
                      position: relative;
                  }
                  .roadmap-content {
                      padding-left: 30px;
                  }
                  .roadmap-info {
                      padding-right: 30px;
                  }
                  .period .roadmap-title {
                      position: relative;
                      left: -45px;
                  }
              }
          }

      /*----------------------------------------------
          MOD: roadmap CENTERED
      ----------------------------------------------*/

          .roadmap-centered {
              @extend .roadmap-split;
              @media (min-width: 992px) {
                  &,
                  .roadmap-item,
                  .roadmap-info,
                  .roadmap-marker,
                  .roadmap-content {
                      display: block;
                      margin: 0;
                      padding: 0;
                  }
                  .roadmap-item {
                      padding-bottom: 40px;
                      overflow: hidden;
                  }
                  .roadmap-marker {
                      position: absolute;
                      left: 50%;
                      margin-left: -7.5px;
                  }
                  .roadmap-info,
                  .roadmap-content {
                      width: 47%;
                  }
                  > .roadmap-item:nth-child(odd) .roadmap-info {
                      float: left;
                      text-align: right;
                      padding-right: 30px;
                  }
                  > .roadmap-item:nth-child(odd) .roadmap-content {
                      float: right;
                      text-align: left;
                      padding-left: 30px;
                  }
                  > .roadmap-item:nth-child(even) .roadmap-info {
                      float: right;
                      text-align: left;
                      padding-left: 30px;
                  }
                  > .roadmap-item:nth-child(even) .roadmap-content {
                      float: left;
                      text-align: right;
                      padding-right: 30px;
                  }
                  > .roadmap-item.period .roadmap-content {
                      float: none;
                      padding: 0;
                      width: 100%;
                      text-align: center;
                  }
                  .roadmap-item.period {
                      padding: 50px 0 90px;
                  }
                  .period .roadmap-marker:after {
                      height: 30px;
                      bottom: 0;
                      top: auto;
                  }
                  .period .roadmap-title {
                      left: auto;
                  }
              }
          }

      /*----------------------------------------------
          MOD: MARKER OUTLINE
      ----------------------------------------------*/

          .marker-outline {
              .roadmap-marker {
                  &:before {
                      background: transparent;
                      border-color: $primary-color;
                  }
              }
              .roadmap-item:hover .roadmap-marker:before {
                  background: $primary-color;
              }
          }

          .roadmap{
            margin-top: 100px;
          }
