.section-container{
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: $lightbackground;
  .headline{
      font-size: 37px;
      font-weight: 800;
      text-align: center;
  }
  .copy-container{
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 50px;
    // background-color: rgba(189,195,199,0.2);
    background-color: $pink;
    color:#fff;
    border-radius: 50px;
    padding: 50px;
    .intro{
      font-weight: 600;
    }
    .terms{
      margin-top: 25px;
      font-size: 12px;
      text-decoration: underline;
    }
  }
}
